body{
    background: rgb(0,117,140);
background: linear-gradient(0deg, rgba(0,117,140,1) 0%, rgba(0,212,255,1) 100%);
}
input[type="file"]{
    margin: 0;
    padding: 10px 1%;
    border-radius: 3px;
}

.principal{
    width: 80%;
    margin: 0 auto;
    padding: 3% 0 6% 0;
    clear: both;
}
.cancel{
    background-color: #ff3a54;
    border: 0px;
    height: 90px;
    border-radius: 20px;
    
}

.barra_azul{
    background-color: #247cc0;
    border-radius: 10px;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 0;
}
.btn{
    background-color: #2ea265;
    border: 0px;
    height: 90px;
    border-radius: 20px;
    
}
.barra_verde{
    background-color: #2ea265 !important;
}

.barra_roja{
    background-color: #ed3152;
}

#form_subir{
    margin: 1.5% 0;
    padding: 2%;
}

#barra_estado span{
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}